<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!-- A simple bean definition -->
  <bean id="client" class="com.apex.client.Client"> 
  <property name ="calc" ref="server"/>
  </bean>

  <bean id="server" class ="com.apex.server.BasicCalc"/>
   <!-- more bean definitions go here -->
   
</beans>